html {
    padding: 0;
    margin: 0;
}

svg {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
  object-fit: fill;
}

text {
  dominant-baseline: central;
  font-family: "Open Sans", sans-serif;
  fill: #333;
}

.attr-links line {
    stroke: #999;
    stroke-opacity: 0;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.aaaa{
    color: #14c3ff;
    areaColor: #323c48;
    borderColor: #404a59;
    areaColor: #2a333d;
    color: #272B2F;
    color: #B2BBC1;
    color: #f4e925;
}

.entity-tuple {
    cursor: pointer;
}

.entity-attr-tuple{
    cursor: pointer;
}

text.entity-name{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    font-size: 1.5em;
    text-anchor: middle;
    cursor: pointer;
}
text.entity-attr-name{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    font-size: 0.75em;
    text-anchor: middle;
}