html {
    padding: 0;
    margin: 0;
}

svg {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
}

text {
  dominant-baseline: central;
  font-family: "Open Sans", sans-serif;
  fill: #333;
}

.attr-links line {
    stroke: #999;
    stroke-opacity: 0;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}